{% extends 'base.html' %}
{% block content %}
<h1>{{ view.object|default_if_none:"Add employee" }}</h1>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    {{ form.first_name.label_tag }} {{ form.first_name }}
    {{ form.last_name.label_tag }} {{ form.last_name }}
    {{ form.middle_name.label_tag }} {{ form.middle_name }}
  </div>
  <div>
    {{ form.position.label_tag }} {{ form.position }}
    {{ form.department.label_tag }} {{ form.department }}
    {{ form.employment_type.label_tag }} {{ form.employment_type }}
  </div>
  <div>
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.phone.label_tag }} {{ form.phone }}
    {{ form.national_id.label_tag }} {{ form.national_id }}
  </div>
  <div>
    {{ form.date_hired.label_tag }} {{ form.date_hired }}
    {{ form.is_active.label_tag }} {{ form.is_active }}
  </div>
  <button type="submit">Save</button>
</form>
{% endblock %}
